body {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.player {
    width: 50px;
    height: 65px;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1;
}
.header {
    border: 2px solid #000;
    height: 50vh;
    width: 20vw;
    z-index: 0;
    position: relative;
}
.bodyer {
    border: 2px solid #000;
    height: 50vh;
    width: 50vw;
    max-width: 480px;
    z-index: 0;
    position: relative;
    background: url('https://i.pinimg.com/600x315/f0/da/83/f0da830ebd0b1190674ab0fe5b4b8d22.jpg') no-repeat;
    background-size: cover;
}
.footer {
    border: 2px solid #000;
    height: 50vh;
    width: 20vw;
    z-index: 0;
    position: relative;
}

#image {
    width: 50px; /* width of container */
    height: 65px;
    object-fit: none;
    object-position: -265px -260px;
    overflow: hidden;
}
